PORT=3020
TORBOX_DATA_DIR=/path/to/torbox/data
TORBOX_DOWNLOAD_DIR=/path/to/downloads
JELLYFIN_URL=https://jellyfin.example.com
JELLYFIN_API_KEY=your_jellyfin_api_key
JELLYFIN_PATH_MAP_FROM=/path/to/downloads
JELLYFIN_PATH_MAP_TO=/movies
TORBOX_SERVER_API_KEY=your_torbox_server_api_key
TORBOX_ARIA2_SPLIT=16
TORBOX_ARIA2_CONNECTIONS=16
TORBOX_ARIA2_CONCURRENT_DOWNLOADS=10
TORBOX_ARIA2_MIN_SPLIT_SIZE=1M
TORBOX_ARIA2_RPC_PORT=6800
TORBOX_JSON_FETCH_CACHE_MS=3600000
TORBOX_JSON_FETCH_TIMEOUT_MS=8000
